.btn-edit-profile {
  margin-top: 10px;
}

#dashboard-tabs {
  .tab a.active {
    background-color: transparent;
    color: #16171a;
  }

  .tab a {
    background-color: transparent;
    color: #16171a;
  }

  .tab a:focus.active {
    background-color: rgba(34, 68, 128, 0.2);
    outline: none;
  }

  .indicator {
    background-color: #16171a;
  }
}

.tab-body-heading {
  font-weight: 600;
  font-size: 2rem;
}

.comma-list {
  padding: 0;

  & > * {
    display: inline;

    &:after {
      content: ",";
    }

    &:last-child:after {
      content: "";
    }
  }
}

@media (min-width: 768px) {
  .comma-list {
    list-style: square;
    padding-left: 30px;

    & > * {
      display: list-item;
      width: 33%;
      float: left;

      &:after {
        content: "";
      }
    }
  }
}
