.profile-subheading {
  font-weight: 600;
  font-size: 2rem;
}

@media only screen and (max-width: 1550px) {
  .dashboard-container {
    padding-left: 120px;
  }
}

@media only screen and (max-width: 992px) {
  .dashboard-container {
    padding-left: 0px;
  }
  .component-heading {
    text-align: center;
  }

  .profile-subheading {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .comma-list {
    list-style: square;
    padding-left: 30px;
    & > * {
      display: block;
      width: 33%;
      float: left;
      &:after {
        content: "";
      }
    }
  }
}

@media (max-width: 601px) {
  .social-media-col {
    text-align: center !important;
    margin-bottom: 15px;
  }
}

.btn-edit-item {
  margin-top: 7px;
}

.profile-title {
  color: #224480 !important;
  font-size: 24px;
  font-weight: 300;
}

.job-location {
  margin-top: 10px;
}

.description {
  margin-top: 10px;
}

.era {
  margin: 15px 0;
}

.post-text {
  margin-top: 10px;
}

.btn-like {
  margin-left: 15px;
}

.flex {
  display: flex;
}

.length-count {
  margin-left: 7px;
}

.post-user {
  font-size: 1.2rem;
}
