.btn-edit-profile {
  margin-top: 10px;
}

#dashboard-tabs {
  .tab a.active {
    background-color: transparent;
    color: #16171a;
  }

  .tab a {
    background-color: transparent;
    color: #16171a;
  }

  .tab a:focus.active {
    background-color: rgba(34, 68, 128, 0.2);
    outline: none;
  }

  .indicator {
    background-color: #16171a;
  }
}

.tab-body-heading {
  font-weight: 600;
  font-size: 2rem;
}
