@import "../../components/layout/header/Header.scss";
@import "../../components/layout/loader/Loader.scss";
@import "../../components/landing/Landing.scss";
@import "../../components/dashboard/Dashboard.scss";
@import "../../components/auth/login/Login.scss";
@import "../../components/auth/register/Register.scss";
@import "../../components/layout/alert/Alert.scss";
@import "../../components/profile/edit_profile/EditProfile.scss";
@import "../../components/profile/create_education/CreateEducation.scss";
@import "../../components/profile/create_experience/CreateExperience.scss";
@import "../../components/layout/loading_screen/LoadingScreen.scss";
@import "../../components/helpers/datepicker/Datepicker.scss";

* {
  font-family: "Work Sans", sans-serif;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.component-heading {
  font-weight: 600;
  font-size: 3rem;
}

.mernbook-blue-text {
  color: #224480;
}

.btn-mernbook {
  background: #224480 !important;
  &:hover {
    background: #224480 !important;
  }
}

.custom-label {
  font-size: 1rem;
  font-weight: 600;
}

/* label focus color */
.custom-input-field input:focus + label {
  color: #031467 !important;
}
/* label underline focus color */
.custom-input-field input:focus {
  border-bottom: 1px solid #031467 !important;
  box-shadow: 0 1px 0 0 #031467 !important;
}

/* label focus color */
.custom-input-field textarea:focus + label {
  color: #031467 !important;
}
/* label underline focus color */
.custom-input-field textarea:focus {
  border-bottom: 1px solid #031467 !important;
  box-shadow: 0 1px 0 0 #031467 !important;
}

.fw-600 {
  font-weight: 600;
}

.custom-helper-error {
  font-size: 12px;
  color: #f44336;
}

.custom-alert {
  padding: 20px 30px;
  font-weight: 400;
  overflow: hidden;
  font-size: 16px;
  min-height: 48px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.alert-icon {
  margin-right: 7px;
}

.custom-error {
  color: white;
  background: #d50000 !important;
}

.custom-success {
  color: white;
  background: #224480 !important;
}
