.custom-sidenav-fixed {
  background: #edf0f5;
  margin-top: 65px;
  padding-top: 10px;
}

#mernbook-sidenav li > a.active-sidenav-link {
  color: #0d295b !important;
  font-weight: 600;
}

.sidenav-img-container {
  position: relative;
}

.sidenav-img-update-wrapper {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 33px;
  right: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sidenav-img-container:hover .image {
  opacity: 0.8;
}

.sidenav-img-container:hover .sidenav-img-update-wrapper {
  opacity: 1;
}

.add-photo-icon {
  color: #fff;
}

.sidenav-link {
  font-size: 1rem !important;
}

.custom-nav-trigger {
  position: fixed;
  top: 18px;
  z-index: 999;
  left: 25px;
  color: white;
}

@media only screen and (max-width: 1422px) {
  .custom-sidenav-fixed {
    transform: translateX(-105%) !important;
  }
}
