.custom-sidenav {
  background: #edf0f5;
  margin-top: 64px;
  padding-top: 10px;
}

#mernbook-sidenav li > a.active-sidenav-link {
  color: #0d295b !important;
  font-weight: 600;
}

.sidenav-img-container {
  position: relative;
}

.sidenav-img-update-wrapper {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 33px;
  right: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sidenav-img-container:hover .image {
  opacity: 0.8;
}

.sidenav-img-container:hover .sidenav-img-update-wrapper {
  opacity: 1;
}

.add-photo-icon {
  color: #FFF;
}
