#profile-status-select .dropdown-content li > a,
.dropdown-content li > span {
  color: #224480 !important;
}

.social-media-icon {
    font-size: 3rem;
}

.youtube-icon {
    color: #FB000F;
}

.twitter-icon {
    color: #28BDFF;
}

.facebook-icon {
    color: #3B5998;
}

.linkedin-icon {
    color: #0274B3;
}

.instagram-icon {
    color: #D20069;
}